services:
    backend:
        build: ./drawing-game
        container_name: flask_backend
        ports:
            - "5000:5000"
        environment:
            MONGO_URI: "mongodb://mongo:27017/appdb"
        depends_on:
            - mongo

    mongo:
        image: mongo:8
        container_name: mongo_db
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db

volumes:
    mongo_data:
