:root {
	--bg-white: #f5f5f5;
	--bg-purple-1: #6a5acd; /* Purple Blue */
	--bg-purple-2: #9966cc; /* Amethyst */
	--main-orange: #ffc067; /* Pastel Orange */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--bg-purple-1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-header {
	margin-top: 2.5rem;
	height: 5rem;
	width: auto;
}

.form-container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
}

.name-input {
	font-size: 1.25rem;
	border-radius: 6px;
	padding: 0.75rem;
	border: 2px solid black;
	width: 16rem;
}

.start-btn {
	background-color: transparent;
	color: var(--main-orange);
	padding: 0.5rem;
	border: 2px solid var(--main-orange);
	margin-top: 1rem;
	font-size: 1.25rem;
	width: 16rem;
	font-weight: bold;
	border-radius: 6px;
}

.start-btn:hover {
	cursor: pointer;
}

.avatar-header {
	margin-bottom: 1rem;
	color: white;
}

.avatar-container {
	display: flex;
	min-height: 10rem;
	gap: 3rem;
}

.avatar-display-container {
	position: relative;
	width: 15rem;
}

.avatar-display,
.eye-main,
.mouth-main,
.color-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.avatar-display {
	z-index: 2;
}

.avatar-selection-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.avatar-eye,
.avatar-mouth,
.avatar-color {
	width: 7.5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.eye-preview,
.mouth-preview,
.color-preview {
	width: 4rem;
	height: 4rem;
}

.eye-arrow,
.mouth-arrow,
.color-arrow {
	cursor: pointer;
	background: transparent;
	font-size: 1.5rem;
	border: none;
	color: white;
}

.move-off {
	animation: moveOffScreen 2.5s forwards;
}

@keyframes moveOffScreen {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100vw);
	}
}

.move-in {
	animation: moveInScreen 2.5s forwards;
}

@keyframes moveInScreen {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}
