:root {
	--bg-white: #f5f5f5;
	--bg-purple-1: #4C38CC;
	--bg-purple-2: #402cc0d0;
	--bg-purple-3: #3825b7d1;
	--main-orange: #ffc067;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--bg-purple-1);
	background-image: url("/static/images/patterns.png");
	background-repeat: repeat;
	background-blend-mode: soft-light;
    opacity: 1;
	background-size: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.game-header {
	height: 5rem;
	width: auto;
}

.form-container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: var(--bg-purple-2);
	padding: 1rem;
	border-radius: 16px;
	gap: 1rem;
}

.name-input {
	font-size: 1rem;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	border: 2px solid black;
	width: 100%;
}

.play-btn {
	background-color: transparent;
	color: var(--main-orange);
	padding: 1rem;
	border: 2px solid var(--main-orange);
	font-size: 1.25rem;
	width: 100%;
	font-weight: bold;
	border-radius: 8px;
	transition: all 0.25s;
}

.play-btn:hover {
	background-color: var(--main-orange);
	color: black;
	border: 2px solid var(--main-orange);
}

.start-btn:hover,
.play-btn:hover {
	cursor: pointer;
}

.avatar-header {
	margin-bottom: 1rem;
	color: white;
}

.avatar-container {
	display: flex;
	min-height: 10rem;
	gap: 2rem;
	background-color: var(--bg-purple-3);
	padding: 0.5rem;
	border-radius: 8px;
}

@keyframes Bob {
    0%   { transform: translateY(4px); }
    50%  { transform: translateY(-2px); }
    100% { transform: translateY(4px); }
}

.avatar-display-container {
	position: relative;
	width: 15rem;
    animation: Bob 4s ease-in-out infinite;
}

.avatar-display,
.eye-main,
.mouth-main,
.color-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.avatar-display {
	z-index: 2;
}

.avatar-selection-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar-eye,
.avatar-mouth,
.avatar-color {
	width: 7.5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.eye-preview,
.mouth-preview,
.color-preview {
	width: 4rem;
	height: 4rem;
}

.eye-arrow,
.mouth-arrow,
.color-arrow {
	cursor: pointer;
	background: transparent;
	font-size: 1.5rem;
	border: none;
	color: white;
}

.move-off {
	animation: moveOffScreen 2.5s forwards;
}

@keyframes moveOffScreen {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100vw);
	}
}

.move-in {
	animation: moveInScreen 2.5s forwards;
}

@keyframes moveInScreen {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}

/* Main Screen */
.loading-text {
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
}

.play-area {
	display: grid;
	grid-template-rows: 6rem 1fr;
	grid-template-columns: 14rem 1fr 18rem;
	width: 80rem;
    height: 40rem;
	aspect-ratio: 2 / 1;
	margin-top: 4rem;
}

.play-header {
	background-color: rgb(255, 177, 177);
	border: 2px solid black;
	grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-scoreboard {
	grid-row: 2;
	grid-column: 1;
	background-color: #cfc9ff;
	border: 2px solid black;
}

.play-drawpad {
	grid-row: 2;
	grid-column: 2;
	background-color: white;
	border: 2px solid black;
	box-sizing: border-box;
}

.draw-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.play-drawtools {
	width: 80rem;
	height: auto;
	background-color: rgb(200, 200, 200);
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.5rem;
	padding: 1rem;
}

.play-drawtools.hidden {
    opacity: 0;              /* fully invisible */
    pointer-events: none;    /* cannot click anything */
}

.play-drawtools.active {
    opacity: 1;
    pointer-events: auto;
}

/* Header section */
.prompt-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.prompt-banner h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Draw Tools Area */

.tools-left-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.tools-right-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tools-right-group {
	gap: 0.5rem;
}

.colors-container {
	display: flex;
	gap: 1rem;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: black;
    width: 24rem;
    height: 4rem;
	padding: 1px;
}

.color-grid div {
    background: white;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
	transition: border-color 0.15s, transform 0.15s;
}

.color-grid div:hover {
    border-color: white;
    transform: scale(1.05);
}

.current-color {
	height: 4rem;
	width: 4rem;
	background: white;
	border: 1px solid black;
}

.brush-size-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    width: fit-content;
}

.brush-size-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid black;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem;
	user-select: none;
}

.brush-container, .eraser-container, .fill-container, .undo-container, .clear-container {
	background-color: white;
	transition: transform 0.15s;
}

.brush-size-option.selected {
    background: rgb(150, 150, 255);
    border-color: rgb(50, 50, 200);
}

.selected-tool {
    background-color: rgb(150, 150, 255);
    border-color: rgb(50, 50, 200);
}

.brush-size-dot {
    object-fit: contain;
    pointer-events: none;
}


.brush-icon, .eraser-icon, .fill-icon {
    width: 2.5rem;
    height: 2.5rem;
	border: 2px solid black;
	cursor: pointer;
	padding: 0.25rem;
	vertical-align: middle;
}

.clear-icon, .undo-icon {
    width: 2.5rem;
    height: 2.5rem;
	border: 2px solid black;
	cursor: pointer;
	padding: 0.25rem;
	vertical-align: middle;
}

.brush-container:hover,
.eraser-container:hover,
.fill-container:hover,
.clear-container:hover,
.undo-container:hover {
    transform: translateY(-4px);
}

.brush-size-option {
    transition: transform 0.15s;
}

.brush-size-option:hover {
    transform: translateY(-4px);
}

/* Chat and Guessing */
.play-chat {
	grid-row: 2;
	grid-column: 3;
	background-color: #fafea8;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.chat-history {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    background-color: rgb(200, 200, 200);
	padding: 0.5rem;
}

.chat-input {
	padding: 0.5rem;
	background-color: rgb(255, 255, 255);
	border: none;
	border-top: 2px solid black;
}

.chat-system {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.chat-message {
    color: black;
	margin-bottom: 0.5rem;
}

.chat-message.zone1 {
    color: black !important;
}

.chat-message.zone2 {
    color: #17a517 !important;
}
