:root {
	--bg-white: #f5f5f5;
	--bg-purple-1: #6A5ACD; /* Purple Blue */
	--bg-purple-2: #9966CC; /* Amethyst */
	--main-orange: #FFB343; /* Yellow Orange */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(var(--bg-purple-1));
}

