<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/setup.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/network.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/drawing.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/prompts.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/players.js') }}" defer></script>
</head>
<body>

</body>
</html>